


<script type="text/javascript">    
  jQuery('#cancel_link').click(function (event) { 
    jQuery('#new_doc_link').show();
    jQuery('#docs').html('');
  });  
 
</script>

 
 
<h4><%= t(:new_doc) %></h4>
<%= form_for [:admin, @product, @doc], :html => { :multipart => true } do |f| %>
  <table class="basic-table" data-hook="new_doc">
    <%= render :partial => 'form', :locals => { :f => f } %>
  </table>
  <p class="form-buttons" data-hook="buttons">
    <%= button t(:update) %>
    <%= t(:or) %> <%= link_to t(:cancel), admin_product_docs_url(@product), :id => 'cancel_link' %>
  </p>
<% end %>

